.input-block {
    padding: 15px 8px;
}

.input-block__input {
    background: var(--bg-color);
    padding: 0;
    width: 100%;
    display: block;
    text-indent: 10px;
    border-radius: 5px;
    height: 36px;
    font-size: 12px;
}

.input-block__input_border {
    border: solid 1px var(--border-color);
}
