<div class="input-block">
    <input class="input-block__input styled-border {{#if bg_gray}}input-block__bg_gray{{/if}}" type="{{type}}" placeholder="{{placeholder}}" value="{{defaultValue}}">
</div>
