<div
    class="photo-block {{#if borderRadiusTop}}photo-block__img_border-radius-top{{/if}} {{#if borderRadiusLeft}}photo-block__img_border-radius-left{{/if}}">

    {{#unless disablePoints}}
    <div class="photo-block__points">
        {{#each Points}}
        {{#if this}}
        <div class="photo-block__point photo-block__point_active"></div>
        {{else}}
        <div class="photo-block__point photo-block__point_disabled"></div>
        {{/if}}
        {{/each}}
    </div>
    {{/unless}}

    <div class="photo-block__arrows">
        {{#unless disableLeftArrow}}
        <div class="photo-block__arrow photo-block__arrow_left">
            <div class="photo-block__arrow__icon">
                <img class="icon" src="icon/arrow_left.svg" />
            </div>
        </div>
        {{/unless}}
        {{#unless disableRightArrow}}
        <div class="photo-block__arrow photo-block__arrow_rigth">
            <div class="photo-block__arrow__icon">
                <img class="icon" src="icon/arrow_rigth.svg" />
            </div>
        </div>
        {{/unless}}
    </div>
    <img class="photo-block__img {{#if borderRadiusTop}}photo-block__img_border-radius-top{{/if}} {{#if borderRadiusLeft}}photo-block__img_border-radius-left{{/if}}"
        src="{{photo}}" />
    <div
        class="photo-block__bg photo-block__bg-div {{#if borderRadiusTop}}photo-block__img_border-radius-top{{/if}} {{#if borderRadiusLeft}}photo-block__img_border-radius-left{{/if}}">
        <img class="photo-block__bg photo-block__bg-img" src="{{photo}}" />
    </div>
</div>
