.form-item {
    padding: 0 16px 12px 16px;
    display: block;
}

.form-item__top {
    padding: 5px 0px 2px 5px;
    color: var(--text_secondary);
}

.form-item__bottom {
    padding: 5px 0px 2px 5px;
    color: var(--text_secondary);
    padding-top: 8px;
}

.form-item_error .form-item__bottom {
    color: var(--field_error_border);
}

.form-item_valid .form-item__bottom {
    color: var(--text_secondary);
}

.form-item__children {
    display: flex;
}

.form-item__input {
    width: 100%;
}
