<div id="{{id}}" class="form-item {{#if valid}}form-item_valid{{/if}}{{#if error}}form-item_error{{/if}}">
    <div class="form-item__top Subhead Subhead--w-regular {{#unless top}}hiden{{/unless}}">
        {{top}}
    </div>
    <div class="form-item__children {{#unless children}}hiden{{/unless}}">
        {{{children}}}
    </div>
    <div class="form-item__bottom Caption--l-1 Caption--w-regular {{#unless bottom}}hiden{{/unless}}">
        {{bottom}}
    </div>
</div>
