<div class="form-item form-item_valid">
    <div class="form-item__top Subhead Subhead--w-regular">
        {{top}}
    </div>
    <div class="form-item__children">
        {{{children}}}
    </div>
    <div class="form-item__bottom qweasd Caption--l-1 Caption--w-regular">
        {{bottom}}
    </div>
</div>
