.info-block {
    background-color: var(--white-bg-color);
    padding: 5px 12px 0 12px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.info-block_border-radius-bottom {
    border-radius: 0 0 10px 10px;
}

.info-block_border-radius-right {
    border-radius: 0 10px 10px 0;
}

.info-block__title {
    color: var(--primary-text-color);
    display: flex;
}

.info-block__title-avatar {
    padding: 2px 10px 0 0;
}

.info-block__title-text {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

.info-block__title-icon {
    margin-right: 12px;
    margin-left: auto;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 6px;
}

.inforow-icon {
    width: 24px;
    height: 24px;
}

.info-block__bottom {
    width: 100%;
    justify-content: space-between;
    margin-top: 12px;
    border-top: var(--border);
}

.info-block__commands-icon_cursor {
    cursor: pointer;
}
