<div class="wrapper-signup">
    <div class="settings pre-settings">
        <div class="Title Title--l-1 Title--w-bold settings__title p-5 mb-5">Продолжение регистрации</div>
        {{#each SettingsGroup}}
        <div class="bg-color_white mb-6 block settings__block pre-settings__block">
            {{{this}}}
        </div>
        {{/each}}
        <div class="error form-item Caption--l-1 Caption--w-regular" id="pre-settings-error"></div>
        {{{Submit}}}
    </div>
</div>
