<div class="chats-list__header">
    {{{Input}}}
</div>
<div class="chats-list__list__content">
    <div class="chats-list__list">
        {{#each Chats}}
        <div>
            {{{this}}}
        </div>
        {{else}}
        <div class="center-placeholder-label" id="chats-list__no-message">
            Сообщений нет
        </div>
        {{/each}}
    </div>
</div>
