.button-block__button {
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 36px;
    display: block;
    background: var(--button-color_primary);
    color: var(--white-bg-color);
    padding: 0 1.2em 0.1em;
}

.button-block__button:focus {
    outline: none;
}

.button-block__border {
    border: none;
}

.button-block__text {
    font-size: 1em;
    align-items: center;
}

.button-block_secondary .button-block__button {
    background: var(--button-color_secondary);
    color: var(--button-color_secondary_text);
}

.button-block_destructive .button-block__button {
    background: var(--button-color_destructive);
}

.button-block__button:active {
    opacity: 0.7;
}

.button-block__button:hover:not(:active) {
    opacity: 0.9;
}
