<div class="button-block {{#if secondary}}button-block_secondary{{/if}} {{#if destructive}}button-block_destructive{{/if}}">
    <button {{#if id}}id="{{id}}" {{/if}} class="button-block__button button-block__border button-block__text border-radius" type="{{type}}">{{{text}}}</button>
</div>
