.cell__avatar {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.cell__in {
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 0;
    line-height: 0;
}

.cell {
    padding-right: 12px;
    padding-left: 12px;
    display: flex;
    min-height: 64px;
    box-sizing: border-box;
    white-space: nowrap;
    text-decoration: none;
    color: var(--text_primary);
    margin-bottom: 5px;
    border-radius: 12px;
}

.cell > .Avatar {
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-shrink: 0;
}

.cell__content {
    display: flex;
}

.cell__after {
    flex-shrink: 0;
    padding-left: 4px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cell__children {
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell__text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell__caption {
    display: flex;
    margin-top: 1px;
    color: var(--muted-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell_active,
.cell_hover:hover {
    background-color: var(--field_background);
}
