:root {
	--bg-color: #f6f6f6;
	--white-bg-color: #ffffff;
	--primary-text-color: #2e2e2e;
	--second-text-color: #6d7885;
	--muted-text-color: #99a2ad;
	--arrow-color: #c4c4c4;
	--arrow-color-hover: #979797b6;
	--point-color_active: #ffffff;
	--point-color_disabled: #80808073;
	--input-color: #f2f3f5;
	--border-color: #d7d7d7;
	--counter-color: #3f8ae0;
	--other-message-bg-color: #bcf17e;
	--header-height: 54px;
	--content-font-size: 14px;
	--border: solid 1px var(--border-color);
	--border-sel-color: #adadad;
	--text_select: #6d7885b3;
	--text_link: #4986cc;
	--text_link_highlighted_background: #000000;
	--text_muted: #2c2d2e;
	--text_name: #4986cc;
	--text_placeholder: #818c99;
	--text_primary: #000000;
	--text_secondary: #818c99;
	--text_subhead: #6d7885;
	--text_tertiary: #99a2ad;
	--field_background: #f2f3f5;
	--field_border: rgba(0, 0, 0, 0.12);
	--field_error_background: #faebeb;
	--field_error_border: #e64646;
	--field_valid_border: #4bb34b;
	--button-color_primary: #0095f6;
	--button-color_primary_clicked: #4cb4f8;
	--button-color_primary_hover: #0284db;
	--button-color_secondary: #f2f3f5;
	--button-color_secondary_text: #0095f6;
	--button-color_secondary_clicked: #f8f8fa;
	--button-color_secondary_clicked_text: #29a3f5a1;
	--button-color_secondary_hover: #e0e1e4;
	--button-color_destructive: #e64646;
	--button-color_destructive_clicked: #e25252e0;
	--button-color_destructive_hover: #d13535;
	--tabbar_background: #f9f9f9;
}
