body {
    font-family: 'Roboto mono', sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    color: var(--primary-text-color);
}

.content {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    padding-top: calc(var(--header-height) + 15px);
    font-size: var(--content-font-size);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg_color_white {
    background-color: var(--white-bg-color);
}

.text_secondary {
    color: var(--text_secondary);
}

.text_primary {
    color: var(--text_primary);
}

.block {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.08), 0 0 8px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 30px 60px rgba(57, 57, 57, 0.1);
    box-shadow: 0 4px 32px 0 rgb(0 16 61 / 16%);
    border-radius: 20px;
}

.styled-border {
    border: solid 1px var(--border-color);
}

.border-radius {
    border-radius: 8px;
}

.title {
    color: var(--primary-text-color);
    font-size: 26px;
}

.bottom-border {
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: var(--border);
}

.top-border {
    margin-top: 12px;
    padding-top: 6px;
    border-top: var(--border);
}

.muted-text {
    color: var(--muted-text-color);
}

.error {
    color: var(--field_error_border);
}

.d-flex {
    display: flex;
}

.full-screen {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.shadow_button {
    box-shadow: var(--shadow_button);
}

.center-placeholder-label {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
}

.pointer {
    cursor: pointer;
}

@mixin div_disabled {
    visibility: hidden;
    position: absolute;
    height: 0;
    width: 0;
}

@mixin div_active {
    width: 100%;
    min-width: unset;
    margin: 0 8px;
}

.div_disabled {
    @include div_disabled;
}

.div_active {
    @include div_active;
}

@media (max-width: 700px) {
    .div-phone_disabled {
        @include div_disabled;
    }

    .div-phone_active {
        @include div_active;
    }
}

@media (min-width: 700px) {
    .div-web_disabled {
        @include div_disabled;
    }

    .div-web_active {
        @include div_active;
    }
}
