body {
    font-family: 'Roboto mono';
    background-color: var(--bg-color);
}

.content {
    display: flex;
    justify-content: center;
    padding-top: calc(var(--header-height) + 15px);
    font-size: var(--content-font-size);
    width: 100%;
    height: 100%;
}

.bg_color_white {
    background-color: var(--white-bg-color);
}

.text_secondary {
    color: var(--text_secondary);
}

.text_primary {
    color: var(--text_primary);
}

.block {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.08), 0 0 8px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 30px 60px rgba(57, 57, 57, 0.1);
    border-radius: 20px;
}

.styled-border {
    border: solid 1px var(--border-color);
}

.border-radius {
    border-radius: 8px;
}

.title {
    color: var(--primary-text-color);
    font-size: 26px;
}

.bottom-border {
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: var(--border);
}

.top-border {
    margin-top: 12px;
    padding-top: 6px;
    border-top: var(--border);
}

.muted-text {
    color: var(--muted-text-color);
}

.ml-2 {
    margin-left: 4px;
}

.mr-2 {
    margin-right: 4px;
}

.mb-2 {
    margin-bottom: 4px;
}

.mb-3 {
    margin-bottom: 6px;
}

.mt-3 {
    margin-top: 6px;
}

.mt-4 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 12px;
}

.mt-6 {
    margin-top: 15px;
}

.mb-6 {
    margin-bottom: 15px;
}

.p-5 {
    padding: 5px;
}

.hidden {
    display: none;
}

.error {
    color: var(--field_error_border);
}

.d-flex {
    display: flex;
}

.full-screen {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body {
    margin: 0;
}

.notifications {
    user-select: none;
    z-index: 101;
    position: fixed;
    bottom: 0;
    left: auto;
    width: 100%;
}

.notifications .snackbar {
    position: unset;
}

.svg-icon{
    color: var(--primary-text-color);
    display: contents;
}