.notifications {
    user-select: none;
    z-index: 101;
    position: fixed;
    bottom: 0;
    left: auto;
    width: 100%;
    animation-name: animation-notifications-intro;
    transition: -webkit-transform 320ms cubic-bezier(0.4, 0, 0.2, 1);
}

.notifications .snackbar {
    position: unset;
}

.notifications-new {
    transform: translate3d(0, 80px, 0);
}

@keyframes animation-notifications-intro {
    from {
        margin-bottom: -80px;
    }

    to {
        margin-bottom: 0;
    }
}
