.home-card {
    max-width: 90%;
    max-height: 80%;
    margin: auto auto;
}

@media (min-width: 540px) {
    .content__home {
        padding-top: 0 !important;
    }

    .content__search {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
