.chats-list {
    position: relative;
    min-width: 300px;
    background-color: var(--white-bg-color);
}

.message-chat {
    position: relative;
    width: 600px;
    max-width: 600px;
    background-color: var(--white-bg-color);
}

.popout-wrapper .photo-block__img,
.popout-wrapper .photo-block__bg {
    border-radius: 10px 10px 10px 10px;
}
