<div id="content" class="content content_message">
    <div class="chats-list block">
        {{{ChatList}}}
    </div>
    <div class="message-chat block">
        <div id="message-chat__div">
            {{{Message}}}
        </div>
        <div class="center-placeholder-label" id="message-chat__no-chat-selected">
            Выберите чат
        </div>
    </div>
</div>
