<div class="wrapper-login">
    <div class="login-block block">
        <div class="login-block__header">
            {{{header}}}
        </div>
        <div class="login-block__form">
            {{{form}}}
            {{{Submit}}}
            <div class="error form-item Caption--l-1 Caption--w-regular" id="login-error"></div>
        </div>
    </div>
    <div class="login-block block login-block_footer Caption--l-1 text_secondary">
        Нет аккаунта? <a class="login-block__link" href={{signupHref}}>Регистрация</a>
    </div>
</div>
