<div class="login-block login-block_border">
    <div class="login-block__header">
        {{{header}}}
    </div>
    <div class="login-block__form">
        {{{form}}}
        <div class="login-block__error {{#unless error}}login-block__error-hidden{{/unless}}">
            {{#if error}}
                {{error}}
            {{/if}}
        </div>
    </div>
</div>
<div class="login-block login-block_border login-block_footer">
    Нет аккаунта? <a class="login-block__link" href={{signupHref}}>Регистрация</a>
</div>
