<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="app">
    <div class="signup-block signup-block_border">
        <div class="signup-block__header">
            {{{header}}}
        </div>
        <div class="signup-block__form">
            {{{form}}}
            <div class="signup-block__error" {{#unless error}}class="signup-block__error_hidden"{{/unless}}>
                {{error}}
            </div>
        </div>
    </div>
    <div class="signup-block signup-block_border signup-block_footer">
        Есть аккаунт? <a class="signup-block__link" href={{signupHref}}>Войти</a>
    </div>
</div>
</body>
</html>
