<div class="wrapper-signup">
    <div class="signup-block block">
        <div class="signup-block__header">
            {{{header}}}
        </div>
        <div class="signup-block__form">
            {{{form}}}
            {{{Submit}}}
            <div class="error form-item Caption--l-1 Caption--w-regular" id="signup-error"></div>
        </div>
    </div>
    <div class="signup-block block signup-block_footer Caption--l-1 text_secondary">
        Есть аккаунт? <a class="signup-block__link" href={{loginHref}}>Войти</a>
    </div>
</div>
