<div class="inforow">
    {{#if iconSrc}}
    <div class="inforow__icon">
        <img class="icon" width="16" height="16" src="{{iconSrc}}" />
    </div>
    {{/if}}
    <div class="inforow__text">{{text}}</div>
</div>
