.card-info {
	position: relative;
	background-color: var(--white-bg-color);
	padding: 5px 12px 10px 12px;
}

.card-info_feed {
	border-radius: 0 0 10px 10px;
}

.card-info_home {
	border-radius: 0 10px 10px 0;
}

.card-info__title {
	color: var(--primary-text-color);
	display: flex;
}

.card-info__title-text {
	font-family: 'Roboto';
	font-size: 32px;
}

.card-info__title-icon {
	margin-right: 12px;
	margin-left: auto;
	box-sizing: border-box;
	padding-top: 8px;
	padding-bottom: 6px;
}

.inforow-icon {
	width: 24px;
	height: 24px;
}

.card-info__bottom {
	width: 100%;
	position: absolute;
	justify-content: space-between;
	bottom: 0;
	left: auto;
	right: 0;
	margin-top: 12px;
	border-top: var(--border);
}
