.input-group {
	padding-top: 12px;
	padding-bottom: 12px;
}

.input-group__top {
	padding-bottom: 6px;
	padding-top: 2px;
	color: var(--second-text-color);
}

.input {
	background: var(--bg-color);
	padding: 0;
	width: 100%;
	display: block;
	text-indent: 10px;
	height: 36px;
	font-size: 12px;
}

.input {
	border-radius: 5px;
	border: solid 1px var(--border-color);
}

.input_gray {
	background: var(--input-color);
}

.input:focus {
	outline: none;
	border: solid 1px var(--border-sel-color);
}
