body {
	background: var(--bg-color);
	padding: 50px 0;
}

.application {
	text-align: center;
}

.form-block {
	text-align: center;
	background: var(--white-bg-color);
	padding: 10px 0;
	margin: 0 auto 10px auto;
	display: block;
	width: 350px;
}

.form-block__header {
	margin: 20px auto 35px;
	color: var(--primary-text-color);
	font-family: 'Roboto';
	font-size: 50px;
}

.form-block__form {
	padding: 0 32px;
	margin: 0 0 50px 0;
}

.form-block__link {
	text-decoration: none;
	color: var(--btn-color);
	font-family: 'Roboto';
	font-size: 14px;
}

.form-block_footer {
	padding: 20px 0;
	font-family: '';
}
