:root {
    --bg-color: #f6f6f6;
    --white-bg-color: #ffffff;
    --primary-text-color: #2e2e2e;
    --text_secondary: #818c99;
    --second-text-color: #6d7885;
    --muted-text-color: #99a2ad;
    --arrow-color: #c4c4c4;
    --arrow-color-hover: #979797b6;
    --point-color_active: #ffffff;
    --point-color_disabled: #80808073;
    --input-color: #f2f3f5;
    --border-color: #d7d7d7a4;
    --counter-color: #3f8ae0;
    --other-message-bg-color: #bcf17e;
    --header-height: 54px;
    --content-font-size: 14px;
    --border: solid 1px var(--border-color);
    --border-sel-color: #adadad;
    --primary-text-color: #2e2e2e;
    --button-color_primary: #0095f6;
}

body {
    font-family: 'Roboto mono';
    background-color: var(--bg-color);
}

.content {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--header-height) + 15px);
    font-size: var(--content-font-size);
}

.styled-border {
    border: solid 1px var(--border-color);
}

.title {
    color: var(--primary-text-color);
    font-size: 26px;
}

.bottom-border {
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: var(--border);
}

.top-border {
    margin-top: 12px;
    padding-top: 6px;
    border-top: var(--border);
}

.muted-text {
    color: var(--muted-text-color);
}

.ml-2 {
    margin-left: 4px;
}

.mb-2 {
    margin-bottom: 4px;
}

.mb-3 {
    margin-bottom: 6px;
}

.mt-3 {
    margin-top: 6px;
}

.mt-4 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 12px;
}

.mt-6 {
    margin-top: 15px;
}

.mb-6 {
    margin-bottom: 15px;
}
