@import 'message_chat.css';
@import 'message_chats-list.css';

.content_message {
	max-width: calc(300px + 600px);
	height: 89vh;
}

.chats-list {
	position: relative;
	min-width: 300px;
	width: 300px;
	background-color: var(--white-bg-color);
}

.message-chat {
	position: relative;
	width: 600px;
	max-width: 600px;
	background-color: var(--white-bg-color);
}
