.chat-list__header {
	box-sizing: border-box;
	border-bottom: var(--border);
	width: 100%;
	padding: 12px;
}

.chat-list__list {
	height: 100%;
	padding-left: 12px;
	padding-right: 12px;
	overflow: auto;
}

.chat-list__list__contet {
	position: absolute;
	left: 0;
	right: 0;
	top: 62px;
	bottom: 0;
}

.chat-item {
	display: flex;
	width: 100%;
	height: 62px;
}

.chat-item__avatar {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 12px;
}

.chat-item__content {
	width: 180px;
	padding-top: 6px;
	padding-bottom: 6px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.chat-item__content__message {
	color: var(--second-text-color);
	display: flex;
}

.chat-item__content__title {
	font-weight: bold;
}

.chat-item__counter {
	position: relative;
}

.chat-item__counter__content {
	position: absolute;
	top: 25px;
	right: -30px;
	width: 20px;
	height: 20px;
	text-align: center;
	background-color: var(--counter-color);
	color: white;
	border-radius: 50%;
}
