.content_search {
	max-width: calc(500px + 300px + 20px);
}

.search__feed {
	max-width: 500px;
	margin-right: 20px;
}

.filter {
	width: 300px;
}

.filter__content {
	width: 20%;
	position: fixed;
}

.filter__title {
	margin-bottom: 10px;
}
