<div class="tabbar">
    {{#each icons}}
    <div class="tabbar__icon">
        {{#if href}}
        <a class="tabbar header-href" data-routlink="{{href}}" href="{{href}}" id="{{idHref}}">
            {{/if}}
            {{{icon}}}
            {{#if href}}
        </a>
        {{/if}}
    </div>
    {{/each}}
</div>
