<form class="form-block__form" action="" method="">
    <div class="form-block__inputs">
        {{#each inputs}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="form-block__button">
        {{{button}}}
    </div>
</form>
