<div class="select-block">
    <select title="{{title}}" class="select-block__select select-block__select_icon select-block__select_border">
        {{#each options}}
            <option title="{{this}}" value="{{@index}}" class="select-block__option">{{this}}</option>
        {{/each}}
    </select>
</div>
