.select-block__select {
    font-size: 12px;
    font-weight: lighter;
    color: var(--text_select);
    width: 100%;
    height: 36px;
    padding: 0 24px 0.1em 8px;
    border-radius: 5px;
    background: var(--bg-color);
}

.select-block__select:focus {
    color: var(--primary-text-color);
    border: none;
    outline: none;
}

.select-block__select_icon {
    -webkit-appearance: none;
    background-image:
            linear-gradient(45deg, transparent 50%, var(--border-sel-color) 50%),
            linear-gradient(135deg, var(--border-sel-color) 50%, transparent 50%);
    background-position:
            calc(100% - 10px) calc(1em + 2px),
            calc(100% - 5px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
}

.select-block__select_border {
    border: solid 1px var(--border-color);
}

.select-block__select_error {
    border: solid 1px var(--field_error_border);
}

.select-block__option {
    font-family: inherit;
    color: inherit;
    font-size: 12px;
}
