.emojis {
    min-width: 300px;
    min-height: 200px;
    background: var(--tabbar_background);
    box-shadow: var(--popout-shadow);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 40px;
    padding: 10px 8px;
}

.emojis__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.emojis__column {
    margin: 12px;
}
