.message-chat {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.message-chat__list::before {
    margin-top: auto;
    height: 100%;
}

.message-chat__list {
    height: fit-content;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.message-chat__list__div {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
}

.message-chat__list__contnet {
    position: absolute;
    left: 0;
    right: 0;
    top: 62px;
    bottom: 66px;
    display: flex;
    flex-direction: column;
}

.message-chat__writebar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.message-header {
    display: flex;
    box-sizing: border-box;
    border-bottom: var(--border);
    height: 60px;
    width: 100%;
    padding: 12px;
}

.message-header__avatar {
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message-header__title {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    color: var(--primary-text-color);
}

.message-loader {
    padding-top: 52px;
    padding-bottom: 12px;
    height: 52px;
    margin-top: auto;
}
