<div class="date-block" {{#if id}}id="{{id}}" {{/if}}>
    <div class="date-block__item date-block__item_month">{{{monthSelect}}}</div>
    <div class="date-block__item date-block__item_day">{{{daySelect}}}</div>
    <div class="date-block__item date-block__item_year">{{{yearSelect}}}</div>
</div>
