<div class="write-bar">
    <div class="input-block">
        <form id="write-bar__form">
            <input class="input-block__input styled-border border-radius input-block__bg_gray" type=""
                placeholder="Сообщение" accept="" value="" min="" maxlength="200">
        </form>
    </div>
    <div class="write-bar__icon">
        {{{SendMessageIcon}}}
    </div>
</div>
