<div class="write-bar">
    {{!-- <input class="input" type="text" placeholder="Сообщение" /> --}}
    {{{Input}}}
    <div class="write-bar__icon">
        <img class="icon write-bar__send-icon" src="icon/send_message_stroke.svg" />
    </div>
</div>
