<div class="header">
    <div class="header__title">{{{MainLabel}}}</div>
    <div class="header__tabbar">
        <div class="tabbar__header">
            {{{Tabbar}}}
        </div>
    </div>
</div>
