.header {
    z-index: 10;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    line-height: var(--header-height);
    background-color: var(--white-bg-color);
    box-shadow: 0 2px 7px rgb(57 57 57 / 10%);
}

.header__title {
    width: 22%;
    text-align: right;
    vertical-align: bottom;
}

.header__tabbar {
    min-width: 250px;
    width: 35%;
    margin-left: auto;
    margin-right: 0;
}

.header-icon {
    width: 28px;
    height: 28px;
}

.tabbar__header {
    width: 250px;
}

.header__avatar {
    cursor: default;
}
