.header {
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    line-height: var(--header-height);
    background-color: var(--white-bg-color);
    box-shadow: 0 2px 7px rgb(57 57 57 / 10%);
}

.header__title {
    text-align: right;
    vertical-align: bottom;
}

.header__tabbar {
    margin-left: auto;
    margin-right: 0;
    transition: margin-top 0.5s ease-in-out;
}

.header-href {
    text-decoration: none;
    color: var(--primary-text-color);
}

@media (max-width: 700px) {
    .header__tabbar {
        z-index: 20;
        position: absolute;
        margin-top: calc(var(--header-height) + 15px);
        background-color: var(--white-bg-color);
        box-shadow: 0 4px 32px 0 rgb(0 16 61 / 16%);
        border-radius: 12px;
    }

    .header .tabbar {
        flex-direction: column;
    }

    .header_close {
        margin-top: -400px;
    }
}

.header-icon {
    width: 28px;
    height: 28px;
}

.tabbar__header {
    width: 250px;
}

.header__avatar {
    cursor: default;
}

.header__content {
    display: flex;
    max-width: 800px;
    width: 800px;
    margin: auto 50px;
}
