<div class="header" id="{{id}}">
    <div class="header__content">
        <div class="div-web_disabled">{{{burgerButton}}}</div>
        <div class="header__title">{{{MainLabel}}}</div>
        <div class="header__tabbar header_close">
            <div class="tabbar__header">
                {{{Tabbar}}}
            </div>
        </div>
    </div>
</div>
