<div class="header">
    <div class="header__title">{{{mainSlogan}}}</div>
    <div class="header__tabbar">
        <div class="tabbar__header">
            {{{tabbar}}}
        </div>
    </div>
</div>
