<div id="content" class="content">
    {{{Header}}}
    <div class="content__search">
        <div id="search-feed" class="search-feed">
        </div>
        <div class="filter">
            <div class="filter__title Title Title--l-1">
                Фильтр
            </div>
            {{{SearchFilter}}}
        </div>
    </div>
</div>
