.popout-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.popout-wrapper_bg {
    background: rgba(0, 0, 0, 0.4);
}

.popout-wrapper__children {
    display: flex;
    justify-content: center;
}
