.card-info {
	background-color: var(--white-bg-color);
	padding-left: 12px;
	padding-top: 5px;
	padding-bottom: 10px;
}

.card-info_feed {
	border-radius: 0px 0px 10px 10px;
}

.card-info_home {
	border-radius: 10px;
}

.card-info__title {
	color: var(--primary-text-color);
	/* font-family: 'Roboto'; */
	/* font-size: 50px; */
	display: flex;
}

.card-info__title-text {
	font-size: 42px;
	margin-bottom: 12px;
}

.card-info__title-icon {
	margin-right: 12px;
	margin-left: auto;
	box-sizing: border-box;
	padding-top: 12px;
	padding-bottom: 12px;
}
