.tabbar__icon {
	box-sizing: border-box;
	height: var(--header-height);
	/* margin-right: 30px; */
	padding-top: 8px;
	padding-bottom: 8px;
	cursor: pointer;
}

.icon {
}

.avatar {
	position: relative;
	top: 1px;
	border-radius: 50%;
	width: 32px;
	height: 32px;
}

.tabbar{
	display: flex;
	justify-content: space-around;
}
