:root {
	--main-bg-color: #f6f6f6;
	--white-bg-color: #ffffff;
	--primary-text-color: #2e2e2e;
	--secondary-text-color: #818c99;
	--input-top-text-color: #6D7885;
	--arrow-color: #c4c4c4;
	--arrow-color-hover: #979797b6;
	--point-color_active: #ffffff;
	--point-color_disabled: #80808073;
	--input-color: #f2f3f5;
	--border-color: #d7d7d7a4;
	--header-height: 54px;
	--content-font-size: 14px;
	--border: solid 1px var(--border-color);
}

body {
	font-family: 'Roboto mono';
	background-color: var(--main-bg-color);
}

.content {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	margin-top: calc(var(--header-height) + 15px);
	display: flex;
	font-size: var(--content-font-size);
}

.styled-border {
	border: solid 1px var(--border-color);
}

.title {
	color: var(--primary-text-color);
	/* font-family: 'Roboto'; */
	font-size: 26px;
}
