<div class="tooltip {{classes}} ">
    {{{children}}}
    <div class="tooltip__text tooltip_direction-{{direction}}">
        <span class="tooltip__text-content {{#if arrow}}tooltip__arrow{{/if}}">{{text}}</span>
    </div>
</div>
