<div class="snackbar {{#if desktop}}snackbar-desktop{{/if}} {{#if closing}}snackbar-closing{{/if}}">
    <div class="snackbar__in">
        <div class="snackbar__body border-radius shadow_button">
            <div class="snackbar__before">
                {{{before}}}
            </div>

            <div class="snackbar__content">
                <text weight="regular" class="snackbar__content-text">{{{children}}}</text>
            </div>

            <div class="snackbar__after">
                {{{after}}}
            </div>
        </div>
    </div>
</div>
