<div class="message-content {{#if usersMessage}}message_user{{else}}message_other{{/if}}">
    {{#if emojiIcon}}
        <div class="message__smile-icon-box message__smile-icon pointer-icon">
            {{{emojiIcon}}}
        </div>
    {{/if}}
    <div class="message__text">
        {{text}}
    </div>
</div>
