.message-content {
    max-width: 50%;
    display: flex;
    flex-direction: row;
}

.message__text {
    border-radius: 10px;
    padding: 10px;
    margin: 7px;
    border: var(--border);
    color: var(--primary-text-color);
}

.message_user .message__text {
    background-color: var(--bg-color);
}

.message_user {
    flex-direction: row-reverse;
    margin-right: 10px;
    margin-left: auto;
}

.message_other {
    margin-left: 10px;
    margin-right: auto;
}

.message__smile-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
}

.message__smile-icon-box {
    height: 100%;
}

.message_other .message__smile-icon-box {
    cursor: default;
}

.message__date {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 8px;
}

.message__emojis {
    background: none !important;
    border: none;
    font-size: 32px;
}
